.BoardInfo {
  background-color: rgba(255, 255, 255, 0.918);
  padding:10px;
}

.BoardInfo > img {
  border-radius: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.BoardInfo .infobuttonbox {
  height:20px;
}

.flexinfo {
  display:flex;
  flex-direction:row;
  justify-content: center;
  margin:0px;
}

.flexinfo > div {
  margin:2px;
}

.BoardInfo span {
  text-align: center;
  font-weight: bold;
}

.fl {
  background-color: #273B7D;
  color:#fff;
  border:0px;
}
.kl {
  background-color: #F7D80F;
  color:#fff;
  border:0px;
}

img.profileImg{
    width: 100px;
    height: 100px;
}

.messageImage {
  width: 23px;
  height: 23px;
  margin-right: 20px;
}

.Header{
  background-color: #FEECE6;
  border-style: solid;
  border-width: thin;
  text-align: center;
  font-weight: bold;
}

.body {
  width:100%;
  vertical-align: middle;
  padding: 10px;
  background-color: #fff;
}

