.PostForm {
  background-color: rgba(255, 255, 255, 0.918);
  padding:10px;
}

.PostForm > form > div > img {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.PostForm > form > div > video {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.PictureInfo {
  width: 300px;
  height: 130px;
  overflow-x: scroll;
  white-space: nowrap
}

.PictureInfo > li {
  display: inline-block;
  zoom: 1
}


.PictureInfo > li > img {
  vertical-align:top;
  width: 100px;
  height: 100px;
  margin: 3px;
}

.PictureInfo > li > video {
  vertical-align:top;
  width: 100px;
  height: 100px;
  margin: 3px;
}

.PostForm > form > div > textarea {
  margin: 10px;
  width: 250px;
  height: 150px;
}

.PostForm > form > div > select {
  margin: 20px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.uploadBtn {
  border: 1px solid gray;
  color: gray;
  background-color: white;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.PostForm > form > div > button {
  margin: 5px;
}

.canclebutton {
  margin: 20px 0px;
}

.postbutton {
  margin: 20px 0px;
}