.TravelSchedulePostItem {
  padding:20px;
  
  margin:10px;
}

.TravelSchedulePostItem .img-wrap {
  height: 100%;
  margin: 0;
  padding: 0;
}

.TravelSchedulePostItem .img-wrap > img {
  padding: 0;
  display: block;
  margin: 5px;
  max-width:250px;
  max-height:250px;
  width:auto;
  height:auto;
  margin:7px;
}



.TravelSchedulePostItem > span.writer {
  color: #9055A2;
  font-weight: bold;
  margin: 5px;
  
}


.TravelSchedulePostItem > span.date {
  color: #566270;
  margin: 5px;
  font-size: 12px;
}

.TravelSchedulePostItem > p.contents {
  color: #383A3F;
  font-weight: bold;
  margin: 5px;
}